.navbar {
  padding-top: 0;
}
.input-group > .search__icon {
  position: absolute;
  left: 24rem;
  margin-top: 8px;
}
.woof__image {
  width: 70px;
}
.search__form {
  width: 45%;
}
.navbarSupportedContent .nav-item {
  width: max-content;
  margin-left: 10px;
  margin-right: 10px;
}
